*{
    font-size: 18px;
}
h1, h2, h3{
    text-transform: uppercase;
}
#header{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(46, 77, 255);
}
#nameTitle{
    background-color: white;
    margin: 0 auto;
    font-family: 'hubballi', cursive;
    width: 500px;
    text-align: center;
}
#nameTitle h1,h2{
    margin: 0;
}
#container{
    display: grid;
    grid-auto-flow: column;
}
#contact{
    list-style: none;
}
#contact i{
    width: 30px;
    color: rgb(46, 77, 255);
}
#sidebar{
    width: 400px;
    border: 1px solid black;
    margin-left: 75px;
}
.card{
    border: 2px solid rgb(46, 77, 255);
    margin-top: 25px;
    width: 300px;
    height: 150px;
}
.card li{
    margin-left: 15px;
}
.info{
    margin-left: 25px;
}
#aboutMe{
    width: 800px;
    height: 350px;
}
#aboutMe p{
    margin: 0px 15px 0px 35px;
    text-align: justify;
}
